.optionsdiv
{
	margin-left: auto;
	margin-right:auto;
}
.password
{
	text-align:center;
	font-size:3rem;
	margin-bottom:25px;
	color:#f39c12;
	font-family:consolas,courier;
	background-color:#eee;
	display:inline-block;
	padding:15px;
	font-weight:800;
}
.errormessage
{
	text-align:center;
	font-size:3rem;
	margin-bottom:25px;
	color:red;
	font-family:consolas,courier;
	background-color:#eee;
	display:inline-block;
	padding:15px;
	font-weight:800;
}

.formstyle
{
	margin:0 auto;
	width:500px;
}

.details
{
	text-align: center;
	margin:0 auto;
	margin-top: 25px;
}